html
	head
		title Register - #{title}
		script(src='/libs/jquery/dist/jquery.min.js')
		link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
		script(src='/libs/bootstrap/dist/js/bootstrap.min.js')
		link(rel='stylesheet', href='/stylesheets/global.css')
		link(rel='stylesheet', href='/stylesheets/newregister.css')
	body
		div(id="backimgur")
			a(href="/") back to Imgur
		.signin-container
			a(href="/")
				.signin-logo
			form(method="post" id="register-form")
				.register-form.register-two-step
					.register-step-one.register-visible
						.signin-imgur-register.core-dark.core-shadow.br5
							input(type="text" tabindex="5" name="url" maxlength="255" id="fullname" class="br5 lvl1-dark valid" placeholder="Your name")
							input(type="text" tabindex="6" name="email" maxlength="255" id="email" class="br5 lvl1-dark" placeholder="Email")
							input(type="password" tabindex="7" name="password" maxlength="255" id="password" class="br5 lvl1-dark" placeholder="Password")
						.register-next-buttons
							.back-signin.text-shadow.right
								a(href="#" id='signup') Sign up

	script(src="/javascripts/signup.js")